:root {
  --primary-color: hsl(259, 100%, 65%);
  --secondary-color: hsl(0, 100%, 67%);
  --primary-light-color: hsl(0, 0%, 100%);
  --secondary-light-color: hsl(0, 0%, 94%);
  --third-light-color: hsl(0, 0%, 86%);
  --primary-dark-color: hsl(0, 1%, 44%);
  --secondary-dark-color: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--third-light-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculate {
  background: var(--primary-light-color);
  width: 750px;
  padding: 50px;
  border-radius: 20px;
  border-bottom-right-radius: 40%;
  position: relative;
}

.input {
  display: flex;
  margin-bottom: 35px;
}

input {
  font-size: 32px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 10px;
  border: 0.5px solid var(--third-light-color);
  outline: none;
  letter-spacing: 2px;
  caret-color: var(--primary-color);
}

.input h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary-dark-color);
}

hr {
  border: none;
  height: 1px;
  background: var(--third-light-color);
}

button {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: var(--primary-color);
  right: 50px;
  margin-top: -32px;
  cursor: pointer;
}

button:hover {
  background: var(--secondary-dark-color);
}

input:focus {
  border: 0.5px solid var(--primary-color);
}

p.error {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-color);
  font-style: italic;
  margin: 5px 0;
}

.result h1 {
  font-size: 60px;
  font-style: italic;
}

.result span {
  color: var(--primary-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  .input {
    margin-bottom: 40px;
  }
  input {
    font-size: 18px;
    width: 80px;
    margin-right: 10px;
    border-radius: 5px;
  }
  .calculate {
    background: var(--primary-light-color);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border-bottom-right-radius: 30%;
    position: relative;
  }
  .result h1 {
    font-size: 45px;
    font-style: italic;
  }
  p.error {
    font-size: 10px;
  }
  button {
    right: 40%;
  }
  .result {
    margin-top: 40px;
  }
} 
